/* -------------------------------------------------- */
/* HINTS, TIPS, AND TRICKS */
/* -------------------------------------------------- */
/*
- When working from a reference, start by:
	- Identifying the colours.
	- Identifying the fonts/typefaces.
- Write generic styles, then move on to more complex/specific styles.
	- Generic styles include:
		- elements that can be targeted by tag name (eg. 'main')
		- links
		- type elements ('h1', 'p', etc.)
	- Complex/specific styles include:
		- elements that must be targeted by class (eg. '.post')
		- elements that must be targeted using a descendant selector.
- When starting to write responsive styles:
	- Identify the number of layouts.
	- Identify when the layouts change (eg. the 'breakpoints').
	- Test your media queries by making an obvious change to the document, and seeing if it's correctly applied.
- Keep in mind:
	- Preview your CSS in the browser often. Small mistakes can prevent entire stylesheets from being applied.
	- If you're writing a rule that should only be applied when the screen is a certain size, make sure it's inside a media query!
*/

/* -------------------------------------------------- */
/* BOILERPLATE STYLES */
/* -------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/* -------------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------------- */

html {
	font-size: 62.5%; /* 10px / 16px = 0.625 (or 62.5%) */
}

body {
	background: #eee;
}

h1, a {
	color: purple;
	font-family: Arial;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	background: #fff;
	padding: 3rem; /* 30px / 10px = 3 ( or 3 rem ) */
}

.brand {
	margin: 0;
}

.brand-supporting,
.intro {
	display: none;
}

img {
	max-width: 100%;
}

/* POST STYLES */
.post {
	margin-bottom: 4rem; /* 40px / 10px = 4 ( or 4rem ) */
	background: #fff;
	font-size: 4vw; /* 16px / 400px = 4 ( or 4vw ) */
}

.post div {
	padding: 2rem;
}

.post h2 {
	font-size: 2em; /*  8vw / 4vw = 2 ( or 2em ) */
}

.post h3 {
	font-size: 0.75em /* 3vw / 4vw = 0.75em */
}

/* MEDIA QUERIES */
@media ( min-width: 600px ) {
	.post-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.post {
		width: 48%;
		float: left;
		font-size: 1.5rem;
	}

	.post:nth-child( 2n ) {
		margin-left: 4%;
	}
}
