<header>
  <h1 class="title">Bruce Wayne Portfolio</h1>
  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#bio">Bio</a>
      </li>
      <li class="nav-item">
        <a href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a href="#achievements">Achievements</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section id="bio" class="bio">
    <h2>Bio</h2>
    <img class="spidey-pic" src="batman.png" alt="Spiderman" />
    <p class="bio-content">
      I'm the amazing Batman. I do cool things like save the world from evil.
    </p>
  </section>
  <section id="education">
    <h2>Education</h2>
    <ol>
      <li>University of Martial Arts, 2014-2016</li>
      <li>Northeastern Polytechnical Institute of Gadgetery and Electronics, 2009- 2013</li>
      <li>Nascar Racing School for Gentlemen 2002-2008</li>
    </ol>
  </section>
  <section id="experience">
    <h2>Experience</h2>
     <p>
      Using my management skills, technical knowledge and combat training to defend the citizens of Gotham.
    </p>
  </section>
  <section id="achievements">
    <h2>Achievements</h2>
    <p>
      From being named Stealthiest Superhero to the creation of the Batcave, I've enjoyed many achievements including:
    </p>
    <ul>
      <li>Reclaiming Gotham from legions of gangs</li>
      <li>Capturing escapees from Arkham Asylum</li>
      <li>Increasing the durability of the Batsuit by 18%</li>
      <li>Developing the logo and symbol most used by city residents</li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2016</p>
  <ul id="social">
    <li>
      <a href="https://twitter.com/spiderman">Twitter</a>
    </li>
    <li>
      <a href="https://www.facebook.com/TheAmazingSpiderMan.LextraordinaireSpiderMan">Facebook</a>
    </li>
    <li>
      <a href="https://github.com/spiderman">GitHub</a>
    </li>
  </ul>
</footer>
