* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

body {
  margin: 0;
}

/* container is added inside the major elements, but can also wrap around the document. Depends on the desired effect */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

main {
  background-color: #BBBBBB;
}

.post > .highlight {
  background-color: yellow;
  color: black;
  font-size: 12px;
  text-decoration: underline;
}

.post > h1 {
  font-size: 64px;
  color: chartreuse;
}

.hero {
  color: green;
}

h1 {
  color: red;
  /*color: purple;*/
}

header {
  background-color: yellow;
}

.post {
  font-size: 24px;
}

h1 {
  color: purple;
}

#hero-unit {
  background-color: cadetblue;
}

nav li {
  display: inline-block;
  background-color: lime;
}

nav a {
  font-size: 32px;
  color: #990000;
  text-decoration: none;
}

nav a:hover {
  background-color: #990000;
  color: white;
}

nav li:first-child {
  background-color: rgb(16, 16, 180);
}

nav li:last-child {
  background-color: rgb(16, 240, 180);
}

nav li:nth-child(2n+1):hover {
  background-color: rgb(200, 20, 180);
}

/* ideally, add these using a class so checkboxes and radio buttons are not impacted */
.field input, .field textarea, .field select {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  display: block;
}
