<h2>Film Library</h2>
<ul>
  <% Film.all.each do |film| %>
    <li><%= film.title %></li>
  <% end %>
</ul>

<h2>New Film</h2>
<form class="new-film" action="/films" method="post">
  <div>
    <!-- input type: text -->
  </div>

  <div>
    <!-- input types: date / time / email / tel / url / color / range / number / search -->
  </div>

  <div>
    <!-- textarea -->
  </div>

  <div>
  <!-- input radio -->
  </div>

  <div>
  <!-- input checkbox -->
  </div>


  <div>
    <!-- select / option -->
  </div>


  <div>
    <!-- file -->
  </div>

  <!-- hidden -->

  <div>
    <!-- input submit / button -->
  </div>

</form>
