/*
  The asterisk selector (*) applies your style rules to ALL elements.

  By default, the browser applies the box-sizing:content-box; rule to all
  elements.

  We want to use the box-sizing:borer-box; rule instead. So to overwrite the
  default rule, we'll use the asterisk selector to select ALL the elements.
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}



/*
  == BASE STYLES ==

  Applying a few base style rules to make the page look a little nicer.
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  margin-bottom: 32px;
}

section h2 {
  margin: 0 0 12px;
}



/*
  == STYLING THE NAV ==

  Intro to floats. Moving the title to the left and the list items to the right.
  We can clear our floats using the overflow: hidden; OR overflow:auto; rule.
*/
.nav-bar {
  overflow: auto; /* <<<< Clearing the floats on the title & nav-list */
  background-color: #333333;
  height: 60px;
  color: white;
  padding: 0 30px;
}

.title {
  margin: 0;
  line-height: 60px;
  float: left;
}

.nav-list {
  float: right;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 60px;
}



/*
  == STYLING THE LAYOUT ==

  Creating a basic layout:
    - Header on the top, spanning all the way across the page
    - Aside on the left side, taking up 35% width
    - Main on the right side, taking up 65% width
    - Footer on the bottom, spanning all the way across the page
*/
html, body {
  height: 100%;
}

.container {
  overflow: hidden; /* <<<< Clearing the floats from the aside & main */
  height: 100%;
}

aside {
  float: left;
  width: 35%;
  background-color: #ccc;
  height: 100%;
}

main {
  float: left;
  width: 65%;
  padding: 30px;
}

.tagline {
  margin: 0 0 48px;
  background-color: #22A7F0;
  padding: 15px;
}

.spidey-pic {
  width: 100%;
  border-radius: 50%;
  background-color: white;
  border: 5px solid black;
}

.bio-content {
  padding: 30px;
}

.img-container {
  padding: 40px;
  background-image: url(http://www.allthingsscene.co/wp-content/uploads/2015/07/trees-skyward.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -155px;
}



/*
  == STYLING THE FOOTER ==

  Similar to the navbar, we want to pull some elements to the left side and
  some other elements to the right.
*/
footer {
  overflow: hidden;  /* <<<< Clearing the floats on the copyright & social-links */
  background-color: #333333;
  height: 60px;
  font-size: 12px;
  padding: 0 30px;
}

.copyright {
  float: right;
  margin: 0;
  line-height: 60px;
  color: #22A7F0;
}

.social-links {
  float: left;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
  line-height: 60px;
  margin-right: 15px;
}

.social-links li a {
  text-decoration: none;
  color: white;
}
