<li class="todo <%= todo.completed_at ? 'is-complete' : '' %>">
  <input type="checkbox" class="todo-complete" name="todos[]" value="<%= todo.id %>" <%= 'checked' if todo.completed_at %>>
  <label><%= todo.task %></label>
</li>
