<h1><%= @restaurant.name %> </h1>
<p>
  <% if @lang == 'fr' %>
    <% if @country == 'canada' %>
      la description, eh:
    <% else %>
      la description:
    <% end %>
  <% else %>
    Description:
  <% end %>
</p>

<p>
  <%= @restaurant.inspect %>
</p>
