<header>
  <h1 class="title">Diana Prince, the Amazon Princess</h1>
  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#bio">Bio</a>
      </li>
      <li class="nav-item">
        <a href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a href="#achievements">Achievements</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section id="bio" class="bio">
    <h2>Bio</h2>
    <img src="wonderwoman.jpg" alt="Wonder Woman" />
    <p class="bio-content">
      I'm Wonder Woman. My movie is coming out soon and it'll make me famous.
    </p>
  </section>
  <section id="education">
    <h2>Education</h2>
    <ol>
      <li>Kick Assery Community College, 2014-2016</li>
      <li>Warrior University for Women, 2016-2012</li>
      <li>Amazonian School of the Arts, 2012-2008</li>
    </ol>
  </section>
  <section id="experience">
    <h2>Experience</h2>
     <p>
      Defending others, fighting injustice and battling evil whenever encountered. I have experience opposing both Greek Gods and regular mortals.
    </p>
  </section>
  <section id="achievements">
    <h2>Achievements</h2>
    <p>
      Below are a few of my most noteworthy achievements:
    </p>
    <ul>
      <li>Invited to join the Justice League</li>
      <li>Defeated Cheetah in many battles</li>
      <li>Top in the Amazonian training 2-day workshop</li>
      <li>Made several Super Friends</li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2016</p>
  <ul id="social">
    <li>
      <a href="https://twitter.com/wonderwomanfilm">Twitter</a>
    </li>
    <li>
      <a href="https://www.facebook.com/wonderwoman/">Facebook</a>
    </li>
    <li>
      <a href="https://github.com/Uriel-WonderWoman/newRepo">GitHub</a>
    </li>
  </ul>
</footer>
