// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  Todo List App Styles

  This file contains all of the styles for the Todo List App.
  The styles are organized from general to specific, with styles for specific
  parts of the interface prefaced with a commented title.
*/

/* Baseline App Styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
  max-width: 24rem;
}

h1 {
  font-weight: 200;
  text-align: center;
  color: #990000;
}

footer {
  padding: 0.5rem 0 1rem;
  text-align: center;
}

small {
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 1.5;
  color: #ccc;
  vertical-align: middle;
}

a {
  color: #990000;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  font-size: 0.75em;
  transition: all 0.15s ease-out;
}

a:hover {
  color: white;
  background-color: #990000;
}

button {
  background: #999;
  color: white;
  font-size: 0.75rem;
  border: 0;
  transition: all 0.2s ease-out;
  padding: 0.25rem 1rem;
}

button:hover {
  background-color: #990000;
}

/* Todo App Container */
#todo-app {
  background-color: white;
  box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.35);
}

/* Empty State (No Todos Showing) */
.todo-empty {
  display: none;
  text-align: center;
  padding: 2rem;
}

.todo-empty > img {
  max-width: 10rem;
}

.todo-empty > h2 {
  margin-bottom: 0;
}

/* Todo List Container */
#todos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Individual Todos */
.todo {
  position: relative;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}

.todo:last-child {
  border-bottom: 0;
}

.todo > label {
  display: block;
  padding: 0 2.5rem;
  transition: all 0.1s linear;
}

/* Checkbox for each Todo */
.todo-complete {
  position: absolute;
  width: 2.5rem;
  height: 3rem;
  top: 0;
  left: 0;
  padding: 0 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.todo-complete:focus {
  outline: none;
}

.todo-complete::after {
  position: absolute;
  top: 0.4rem;
  content: image-url('unchecked.svg');
}

/* Completed Todos */
.todo.is-complete > .todo-complete::after {
  content: image-url('checked.svg');
}

.todo.is-complete > label {
  color: #ccc;
  font-weight: 200;
  text-decoration: line-through;
}

/* Todo List footer with filters */
#todos-actions {
  border-top: 1px solid #e4e4e4;
  overflow: auto;
}

.todos-remaining {
  font-size: 0.75rem;
}

/* Filter List */
#todos-filters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0.5rem 0;
}

/* Individual filter items */
.todo-filter {
  display: inline-block;
}

.todo-filter.is-active > a {
  color: white;
  background-color: #990000;
}

/* Bitmaker wordmark in footer */
.footer-wordmark {
  display: inline-block;
  max-height: 1rem;
  vertical-align: middle;
}

/* Form for adding a new Todo */
#new_todo {
  overflow: auto;
  border-bottom: 1px solid #e4e4e4;
}

#todo-task {
  display: inline-block;
  float: left;
  width: 80%;
  border: 0;
  padding: 0.5rem;
}

#todo-task:focus {
  outline: none;
}

.button-inline {
  width: 20%;
  line-height: 1;
  padding: 0.75rem 1rem;
  float: left;
}

/* Media queries for adjusting the layout on different devices*/
@media screen and (min-width: 400px) {
  .todos-remaining {
    float: left;
    width: 25%;
    padding: 0.25rem 0.5rem;
    text-align: left;
  }

  #todos-filters {
    float: left;
    width: 50%;
    padding: 0;
  }

  .todos-update {
    text-align: center;
    margin-top: 0;
  }
}
