/*
  The asterisk selector (*) applies your style rules to ALL elements.

  By default, the browser applies the box-sizing:content-box; rule to all
  elements.

  We want to use the box-sizing:borer-box; rule instead. So to overwrite the
  default rule, we'll use the asterisk selector to select ALL the elements.
*/
*,
*:after,
*:before {

}



/*
  == BASE STYLES ==

  Applying a few base style rules to make the page look a little nicer.
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  margin-bottom: 32px;
}

section h2 {
  margin: 0 0 12px;
}


/*
  == STYLING THE NAV ==

  Intro to floats. Moving the title to the left and the list items to the right.
*/




/*
  == STYLING THE LAYOUT ==

  Creating a basic layout:
    - Header on the top, spanning all the way across the page
    - Aside on the left side, taking up 35% width
    - Main on the right side, taking up 65% width
    - Footer on the bottom, spanning all the way across the page
*/



/*
  == STYLING THE FOOTER ==

  Similar to the navbar, we want to pull some elements to the left side and
  some other elements to the right.
*/
