body {
  background: black;
  color: white;
}

.show {
  float: left;
  height: 410px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.img-container {
  height: 310px;
}

img {
  width: 100%;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}
