* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Palatino, serif;
  line-height: 1.7em;
}

.container {
  width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 20px;
}

nav {
  margin: 20px 0;
}

header,
main,
footer {
  margin: 20px;
}

.nav-item,
ul#social li {
  display: inline;
  margin: 0 7px;
}

#bio {
  border: 2px solid lightgrey;
}

#bio h2 {
  background: lightgrey;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.bio-content {
  padding: 20px 0;
  text-align: center;
}

section {
  margin-bottom: 50px;
}

section#bio {
  text-align: center;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
}

main h2 {
  margin-bottom: 20px;
}

main ul,
main ol {
  margin-left: 40px;
}

footer ul#social {
  text-align: right;
}

p {
  margin-bottom: 20px;
}

img {
  width: 200px;
}

h1, h2 {
  font-family: helvetica, arial, sans-serif;
}
