.container {
  background: antiquewhite;
  border: 2px solid coral;
  margin: 50px;
  padding: 30px 40px;
  overflow: hidden;
}

section {
  clear: both;
}

h3, p {
  margin-top: 2em;
}

.floated_numbers {
  overflow: hidden;
}

.float_number {
  background: seagreen;
  color: white;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  width: 20%;
  border: 1px solid black;
}

.samuel-not-floated {
  margin-bottom: 1em;
}

.samuel-floated {
  float: left;
  width: 50%;
  margin-right: 1em;
  margin-bottom: 1em;
}

.overflow-example div {
  padding: 1em;
  background: aliceblue;
  margin-bottom: 2em;
}

.overflow-example p {
  float: left;
  border: 2px solid purple;
  padding: 1em;
}


.contained-with-overflow {
  clear: both;
  border: 5px solid tomato;
  overflow: hidden;
}

.not-contained-with-overflow {
  clear: both;
  border: 5px solid cornflowerblue;
}
