/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Page Structure */
header,
main,
footer {
  margin: 20px;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 50px;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
}

main h2 {
  margin-bottom: 20px;
}

main ul,
main ol {
  margin-left: 40px;
}

p {
  margin-bottom: 20px;
}

/* Fonts */
body {
  font-family: Palatino, serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: Helvetica, Arial, sans-serif;
}

/* Main Header */
h1 {
  color: rgb(153, 22, 24);
  border: 3px solid;
  padding: 20px;
  background: rgba(25, 45, 106, 0.1);
  border-radius: 25px;
}

/* Navs */
.nav-item,
ul#social li {
  display: inline;
  margin-right: 20px;
}

footer ul#social {
  text-align: right;
}

/* Bio */
#bio {
  border: 2px solid grey;
  text-align: center;
}

img {
  width: 200px;
}

#bio h2 {
  background: lightgrey;
  text-align: center;
  padding: 10px;
}

.bio-content {
  padding: 20px 0;
  text-align: center;
}
