<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </head>
  <body>
    <div class='container'>

      <nav>
        <div class='nav-item'><a href="/">Home</a></div>
        <div class='nav-item'><a href="/spiderman">Spiderman</a></div>
        <div class='nav-item'><a href="/batman">Batman</a></div>
        <div class='nav-item'><a href="/wonderwoman">Wonder Woman</a></div>
      </nav>

      <h1>Welcome to Super Heros!</h1>

      <p>Select one of our lovely superheros above!</p>

    </div>
  </body>
</html>

