<div class="hamburger-container">
  <aside class="sidebar">
    <nav>
      <ul class="side-menu">
        <li>Item 001</li>
        <li>Item 002</li>
        <li>Item 003</li>
        <li>Item 004</li>
        <li>Item 005</li>
      </ul>
    </nav>
  </aside>

  <a id="nav-toggle" href="#"><span></span></a>
</div>