<main id="material" class="showcase">
  <ul class="menu">
    <li class="item"><a href="#">Dashboard</a></li>
    <li class="item"><a href="#">Account</a></li>
    <li class="item"><a href="#">Lists</a></li>
    <li class="item"><a href="#">Friends</a></li>
    <li class="item"><a href="#">Enemies</a></li>
  </ul>
</main>