<h2>Film Library</h2>
<ul>
  <% Film.all.each do |film| %>
    <li><%= film.title %></li>
  <% end %>
</ul>

<h2>New Film</h2>
<form class="new-film" action="/films" method="post">
  <!-- <input type="hidden" name="_method" value="delete"> -->

  <!-- input type: text -->
  <div class="">
    <label for="film-title">Title:</label>
    <input type="text" name="title" id="film-title" placeholder="eg. Blade Runner">
  </div>

  <!-- input types: date / time / email / tel / url / color / range / number / search -->

  <!-- input radio / checkbox -->
  <div class="">
    <fieldset>
      <legend>Rating</legend>
      <label>
        <span>1</span>
        <input type="radio" name="rating" value="1">
      </label>

      <label>
        <span>2</span>
        <input type="radio" name="rating" value="2">
      </label>

      <label>
        <span>3</span>
        <input type="radio" name="rating" value="3">
      </label>

      <label>
        <span>4</span>
        <input type="radio" name="rating" value="4">
      </label>
    </fieldset>
  </div>

  <fieldset>
    <legend>Genres</legend>

    <label>
      <span>Drama</span>
      <input type="checkbox" name="genre[]" value="Drama">
    </label>

    <label>
      <span>Comedy</span>
      <input type="checkbox" name="genre[]" value="Comedy">
    </label>

    <label>
      <span>Action</span>
      <input type="checkbox" name="genre[]" value="Action">
    </label>

    <label>
      <span>Animated</span>
      <input type="checkbox" name="genre[]" value="Animated">
    </label>
  </fieldset>

  <!-- textarea -->
  <div class="">
    <textarea name="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </textarea>
  </div>

  <!-- select / option -->
  <select class="film-country" name="country">
    <option value="">Choose a country</option>
    <option value="CA">Canada</option>
    <option value="US">United States</option>
    <option value="JP">Japan</option>
  </select>


  <!-- file -->
  <!-- <input type="file" name="image"> -->


  <!-- hidden -->
  <!-- <input type="hidden" name="loyalty-points-account" value="123456"> -->

  <!-- input submit / button -->
  <!-- <input type="submit" value="Go!"> -->
  <div class="field">
    <button type="submit">
      Go!
      <img src="http://placekitten.com/100" alt="" />
    </button>
  </div>

</form>
