<div class='container'>
  <div class='col-xs-12'>

  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <%= link_to 'Home', root_path, class: 'nav-link active' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'About', '#', onclick: 'alert("Guido says: Grrrrsshh!")' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Terms', '#', onclick: 'alert("Guido says: Wslllllshzz!!")' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Contact', '#', onclick: 'alert("Guido says: Hiiiilllssssqzzzrt!!!")' %>
    </li>
  </ul>

  </div>
</div>
