<h2>Film Library</h2>
<ul>
  <% Film.all.each do |film| %>
    <li><%= film.title %></li>
  <% end %>
</ul>

<h2>New Film</h2>
<form class="new-film" action="/films" method="get">
  <!-- input type: text -->

  <!-- input types: date / time / email / tel / url / color / range / number / search -->

  <!-- input radio / checkbox -->

  <!-- textarea -->

  <!-- select / option -->


  <!-- file -->

  <!-- hidden -->

  <!-- input submit / button -->
  
</form>
