<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RecipeBook</title>
  </head>
  <body>

    <header>
      <a href="/">RecipeBook</a>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <a href="/about">About Us</a>
      |
      <a href="/contact">Contact Us</a>
      |
      <a href="/legalese">Legal Stuff</a>
    </footer>

  </body>
</html>
