body {
  background: white;
}

header {
  background: orange;
  text-align: center;
  padding: 1em 0;
  border-bottom: 5px solid grey;
}

#container {
  width: 91%;
  margin: 2em auto;
}

section {
  border: 3px solid orange;
  padding: 1em;
}

footer {
  background: mediumspringgreen;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  width: 6em;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
}

.feature {
  width: 48%;
}

.features {
  overflow: hidden;
  text-align: center;
}

.avocado-burger {
  float: left;
}
.sushi-donuts {
  float: right;
}

h2 {
  text-decoration: underline;
}

h3 {
  margin: .5em 0;
}
