<h1>Chat Room</h1>
Logged in:
<div id=logged_in></div>

<%= form_tag '/message', id: 'form_message' do %>
  Enter your message:
  <%= text_field_tag :text_message %>
  <%= submit_tag 'Send',  data: { disable_with: false } %>
<% end %>
<pre id=messages style='border: 2px solid blue; padding: 1rem; margin: 1rem;'></pre>
