// Place all the styles related to the Turbos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  display: inline-block;
  width: 25%;
  height: 200px;
  color: #fff;
  background-color: #000;
  border: 8px solid #fff;
}