<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Form Playground</title>
    <link rel="stylesheet" href="styles/base.css">
  </head>
  <body>
    <header>
      <h1>Form Playground</h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
