*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.35;
}

body {
  width: 80%;
  margin: 0 auto;
  padding: 0
}

a {
  color: #007aff;
}